header, footer{
    margin: 1.25rem auto;
    max-width: 900px;
    background-color: hotpink;
    color: black;
    text-align: center;
    border-radius: 1ch;
}
h2 { 
    border-bottom: 3px solid black;
}
header{
    padding: 1rem;
}

body{
    font-size: 14px;
    max-width: 900px;
}

img {
    float: right;
    margin-top: -70px;
    margin-right: 20px;
}