header{
    text-align: center;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: pink;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

a{
    display: block;
}

a:visited{
    color: darkgreen;
}
h2{
    background-color: lightskyblue;
    font-family: 'Montserrat', sans-serif;
}
main {
	max-width: 1000px;
    margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section {
	margin: 0.5rem ;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: pink;
}
main p{
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 37.5em){
    main {
        grid-template-columns: 1fr 1fr;
        margin: 20px auto;
    }
}


@media only screen and (min-width: 60em){
    main {grid-template-columns: 1fr 1fr 1fr;
    }
}
