header{
    background-color: pink;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    font-family: 'Montserrat', sans-serif;
    }

main section{
    background-color: pink;
    width: 220px;
    margin: 20px auto;
    padding: 50px;
}



section h2{
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
    }
a:visited {
    color: darkgreen;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main p{
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 37.5em){
    main {
        grid-template-columns: 1fr 1fr;
        margin: 20px auto;
    }
}


@media only screen and (min-width: 60em){
    main {grid-template-columns: 1fr 1fr 1fr;
    }
}
