@media only screen and (min-width: 60em){
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.current{
		left:500px;
	}
	.map{
		max-width: 50%;
		display: block;
	}

	.forecast{
		display: block;
		justify-content: center;
		align-items: center;
		width: 80%;
		
	}
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	  }
}